name: Build App
 
on:
  push:
    branches:
      - main

jobs:
  build:
 
    runs-on: windows-latest
 
    steps:
    - uses: actions/checkout@v1
      name: Checkout Code
     
    - name: Setup MSBuild Path
      uses: microsoft/setup-msbuild@v1.0.2
       
    - name: Setup NuGet
      uses: nuget/setup-nuget@v1
     
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
        versionSpec: '5.x'

    - name: Restore NuGet Packages
      run: nuget restore RedMarina.Umbraco.BulkRelation.sln
 
    - name: Build App
      run: msbuild RedMarina.Umbraco.BulkRelation.sln /p:Configuration=Release

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v0.9.7
      with:
        useConfigFile: true      

    - name: NuGet Pack
      run: nuget pack -Prop Configuration=Release
      working-directory: RedMarina.Umbraco.BulkRelation

    - shell: cmd
      name: Publish Nuget Package
      env:
        NUGET_APIKEY: ${{ secrets.NUGET_APIKEY }}
      run: nuget push *.nupkg -Source https://api.nuget.org/v3/index.json -ApiKey "%NUGET_APIKEY%"
      working-directory: RedMarina.Umbraco.BulkRelation
     